                    <!-- <a id="R-logo" class="R-default" href="{{ partial "permalink.gotmpl" (dict "to" .Site.Home) }}">
            {{ .Site.Params.linkTitle | default .Site.Title }}
          </a> -->
          <a id="R-logo" class="R-default logo-container" href="{{ partial "permalink.gotmpl" (dict "to" .Site.Home) }}">
            <img src="/images/logos/logo_500x500.png" alt="{{ .Site.Params.linkTitle | default .Site.Title }} Logo" class="logo-image">
            <span class="logo-text">{{ .Site.Params.linkTitle | default .Site.Title }}</span>
          </a>